@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

/*Set image invert color only in light mode */
html:not(.dark) .fi-sidebar-header img {
    filter: invert(100%);
}

.catInvest{
    font-size: 0.8rem;
}

.headcardautors {
    background: rgba(107, 106, 104, 0.795);
    border-radius: 15px;
}